<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Admin panel</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<!--<body class="modal-open" style="overflow: hidden; padding-right: 0px;">-->
<!--if showed modal dialog-->
<div id="topMenu">
<!--<div id="topMenu" class="visually-hidden">-->
    <div class="d-flex text-white">
        <div class="p-2 w-100 bg-dark fs-5">
            <b>[[${#authentication.getPrincipal().getUsername()}]]</b>
            with roles: [[${#authentication.getPrincipal().authorities}]]
        </div>
        <div class="p-2 bg-dark">
            <a class="text-secondary text-decoration-none pe-3" href="/logout">Logout</a>
        </div>
    </div>
</div>
<table id="adminPanel">
<!--<table id="adminPanel" class="visually-hidden">-->
    <tr>
        <td class="navbar" style="width: 100px;">
            <nav class="nav nav-pills w-100">
                <a class="nav-link active w-100" href="showAll">Admin</a>
                <a class="nav-link w-100" href="userInfo">User</a>
            </nav>
        </td>
        <td class="bg-light w-100 px-3 pb-2">
            <p class="fs-1"><b>Admin panel</b></p>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="showAll">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="addNewUser">New User</a>
                </li>
            </ul>
            <div class="fs-4 p-2 fw-bold border-end border-start">All users</div>
            <div class="border-1 p-3 bg-white border border-1">
                <table class="table table-striped" id="usersList">
                    <tr></tr>
                </table>
            </div>
        </td>
    </tr>
</table>

<!--<div class="modal fade show" style="display: block;" role="dialog" aria-modal="true">-->
<!--<div class="modal fade" style="display: none;" aria-hidden="true">-->

<!-- User Edit -->
<div class="modal fade" id="editUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="container form-horizontal" method="POST" action="saveUser">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBLabel">Edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div align="center">
                        <div class="col-sm in">
                            <label class="h6 up_sp" for="name" id="labelName"><b>First name</b></label>
                            <input type="text" class="form-control" id="name" placeholder="First name" required/>
                            <label class="h6 up_sp" for="surname" id="labelSurname"><b>Last name</b></label>
                            <input type="text" class="form-control" id="surname" placeholder="Last name"/>
                           <label class="h6 up_sp" for="username" id="labelUsername"><b>Username</b></label>
                            <input type="text" class="form-control" id="username" placeholder="username" required/>
                            <label class="h6 up_sp" for="password" id="labelPassword"><b>Password</b></label>
                            <input type="password" class="form-control" id="password" placeholder="Password" required/>
                            <label class="h6 up_sp"><b>Roles</b></label>
                            <div class="btn-group list-group roles" role="group" id="roleGroup">
                                <!-- roles checkboxes -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="action-btn">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<script src="../static/js/bootstrap.min.js"></script>-->
<!--<script src="../static/js/indexJSCode.js" type="module"></script>-->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/indexJSCode.js" th:src="@{/js/indexJSCode.js}" type="module"></script>

</body>
</html>
