<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Admin panel</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<!--<body class="modal-open" style="overflow: hidden; padding-right: 0px;">-->
<!--if showed modal dialog-->
<div id="topMenu">
    <!--<div id="topMenu" class="visually-hidden">-->
    <div class="d-flex text-white">
        <div class="p-2 w-100 bg-dark fs-5">
            <b>[[${#authentication.getPrincipal().getUsername()}]]</b>
            with roles: [[${#authentication.getPrincipal().authorities}]]
        </div>
        <div class="p-2 bg-dark">
            <a class="text-secondary text-decoration-none pe-3" href="/logout">Logout</a>
        </div>
    </div>
</div>
<!--Admin panel tab-->
<table id="adminPanelTab" class="visually-hidden">
    <tr>
        <td class="navbar w-100">
            <nav class="nav nav-pills w-100">
                <a class="nav-link w-100 btn active">Admin</a>
                <a class="nav-link w-100 btn" id="userPanel">User</a>
            </nav>
        </td>
        <td class="bg-light w-100 px-3 pb-2">
            <p class="fs-1"><b>Admin panel</b></p>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link btn active">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" id="newUserMenu">New User</a>
                </li>
            </ul>
            <div class="fs-4 p-2 fw-bold border-end border-start">All users</div>
            <div class="border-1 p-3 bg-white border border-1">
                <table class="table table-striped" id="usersList">
                    <tr></tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<!--New user tab-->
<table id="newUserTab" class="visually-hidden">
    <tr style="vertical-align: top;">
        <td class="navbar w-100">
            <nav class="nav nav-pills w-100">
                <a class="nav-link w-100 btn active">Admin</a>
                <a class="nav-link w-100 btn">User</a>
            </nav>
        </td>
        <td class="bg-light w-100 px-3 pb-2">
            <p class="fs-1"><b>Admin panel</b></p>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link btn" id="usersTableMenu">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn active">New User</a>
                </li>
            </ul>
            <div class="fs-4 p-2 border-end border-start"><b>Add new user</b></div>
            <div class="p-2 bg-white border border-1">
                <div class="container">
                    <div class="pagination justify-content-center m-4">
                        <div class="col-sm fw-bold text-center" style="max-width: 350px;">
                            First name
                            <input type="text" class="form-control mb-3" id="newName" placeholder="First name"
                                   required/>
                            Last name
                            <input type="text" class="form-control mb-3" id="newSurname" placeholder="Last name"/>
                            Username
                            <input type="text" class="form-control mb-3" id="newUsername" placeholder="username"
                                   required/>
                            Password
                            <input type="password" class="form-control mb-3" id="newPassword" placeholder="Password"
                                   required/>
                            Roles
                            <select class="form-control w-100 px-2 py-1 mb-3" style="height: 52px;" multiple
                                    id="newRoles">
                            </select>
                            <input type="button" class="btn btn-success" id="addNewUserButton" value="Add new user"/>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<!--User tab-->
<table id="currentUserView" class="visually-hidden">
    <tr>
        <td class="navbar w-100">
            <nav class="nav nav-pills w-100">
                <a class="nav-link btn w-100" id="adminPanel">Admin</a>
                <a class="nav-link btn w-100 active">User</a>
            </nav>
        </td>
        <td class="bg-light w-100 px-3 pb-2">
            <p class="fs-1 fw-bold">User information-page</p>
            <div class="fs-4 p-2 fw-bold border border-bottom-0">About user</div>
            <div class="border border-1 p-3 bg-white">
                <table class="table table-striped" id="usersTable">
                    <tr></tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<!-- Modal dialog -->
<div class="modal fade" id="editUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container form-horizontal">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBLabel">Edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="pagination justify-content-center">
                        <div class="col-sm fw-bold text-center" style="max-width: 350px;">
                            ID
                            <input id="id" type="text" readonly class="form-control"/>
                            First name
                            <input id="name" type="text" class="form-control" placeholder="First name" required/>
                            Last name
                            <input id="surname" type="text" class="form-control" placeholder="Last name"/>
                            Username
                            <input id="username" type="text" class="form-control" placeholder="username" required/>
                            <label id="labelPassword" for="password">Password</label>
                            <input id="password" type="password" class="form-control" placeholder="Password" required/>
                            Roles
                            <select class="form-control w-100 px-2 py-1" style="height: 52px;" multiple id="roles">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" name="action-btn">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/indexJSCode.js" th:src="@{/js/indexJSCode.js}" type="module"></script>
</body>
</html>
