<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <div th:insert="~{admin_panel :: blackheader}"></div>
    <title>Admin panel</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<table>
    <tr style="vertical-align: top;">
        <div th:insert="~{admin_panel :: leftPanel}"></div>
        <td class="bg-light w-100 px-3 pb-2">
            <p class="fs-1"><b>Admin panel</b></p>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="showAll">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="addNewUser">New User</a>
                </li>
            </ul>
            <div class="fs-4 p-2 border-end border-start"><b>Add new user</b></div>
            <div class="p-2 bg-white border border-1">
                <form class="container" th:method="POST" th:action="'saveUser'" th:object="${user}">
                    <div align="center">
                        <div class="col-sm" style="max-width: 350px;">
                            <input type="hidden" th:field="*{enabled}"/>
                            <label class="h6 mt-3" for="name"><b>First name</b></label>
                            <input type="text" class="form-control" th:field="*{name}"
                                   id="name" placeholder="First name" required/>
                            <label class="h6 mt-3" for="surname"><b>Last name</b></label>
                            <input type="text" class="form-control" th:field="*{surname}"
                                   id="surname" placeholder="Last name"/>
                            <label class="h6 mt-3" for="email"><b>Email</b></label>
                            <input type="email" class="form-control" th:field="*{email}"
                                   id="email" placeholder="Email"/>
                            <label class="h6 mt-3" for="username"><b>Username</b></label>
                            <input type="text" class="form-control" th:field="*{username}"
                                   id="username" placeholder="username" required/>
                            <label class="h6 mt-3" for="password"><b>Password</b></label>
                            <input type="password" class="form-control" th:field="*{password}"
                                   id="password" placeholder="Password" required/>
                            <label class="h6 mt-3"><b>Roles</b></label>
                            <div class="btn-group list-group border border-1 p-2 w-100"
                                 style="height: 60px; overflow-y: auto;"
                                 role="group" id="roleGroup">
                                <th:block th:each="role: ${allRoles}">
                                    <input type="checkbox" class="btn-check" name="checkboxRoles"
                                           th:value="${role.getKey().id}"
                                           th:id="${role.getKey().id}"
                                           th:checked="${role.getValue()}"/>
                                    <label class="btn-outline-primary" th:for="${role.getKey().id}"
                                           th:text="${role.getKey().roleName}"></label>
                                </th:block>

                            </div>
                            <input class="btn btn-success mt-3" type="submit" value="Add new user"/>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </td>
    </tr>
</table>

</body>
</html>