<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <div th:replace="~{admin_panel :: blackheader}"/>
    <title>Admin panel</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<table>
    <tr>
        <td class="navbar" style="width: 100px;">
            <nav class="nav nav-pills w-100">
                <a class="nav-link w-100" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/showAll">Admin</a>
                <a class="nav-link active w-100" href="userInfo">User</a>
            </nav>
        </td>
        <td class="bg-light w-100 px-3 pb-2">
            <p class="fs-1 fw-bold">User information-page</p>
            <div class="fs-4 p-2 fw-bold border border-bottom-0">About user</div>
            <div class="border border-1 p-3 bg-white">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Roles</th>
                    </tr>
                    <tr>
                        <td th:text="${user == null ? '' : user.id}"></td>
                        <td th:text="${user == null ? '' : user.name}"></td>
                        <td th:text="${user == null ? '' : user.surname}"></td>
                        <td th:text="${user == null ? '' : user.email}"></td>
                        <td th:text="${user == null ? '' : user.username}"></td>
                        <td th:text="${user == null ? '' : user.roles}"></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
